nav-content
  nav-icons(right, [currentPage]="'TeamMembersPage'")

settings-page-with-menu.settings-page([currentPage]="'TeamMembersPage'")
  .settings-back-button([navPush]="'TeamMembersPage'")
    ion-icon(name="ios-arrow-back")
    h4
      | Back
  ion-content.scrollable-content-wrapper
    form([formGroup]="myForm", (ngSubmit)="saveTeamMember()").team-member-form.settings-content-wrapper
      div(*ngIf="!myForm.value.id; then addTeamMember else editTeamMember")
      ng-template(#addTeamMember)
        .settings-header
          h1
            | New Team Member
          button.settings-button(ion-button, medium, type="submit")
            | add team member
      ng-template(#editTeamMember)
        .settings-header
          h1
            | Edit Team Member
          button.settings-button(ion-button, medium, type="submit")
            | update team member
      .scroll-spacer
      .settings-body
        .member-photo-section
          img.member-photo([src]="localUrl")
          input.avatar-input(type="file", (change)="onFileChange($event)", name="file", id="file")
          label.choose-file-label(for="file")
            | Update photo
        .form-row.name-row
          ion-label(stacked) Name
          ion-input.user-name(formControlName="name", (input)='nameChanged($event.target.value)', type="text")
        .form-row
          ion-label(stacked) Email
          ion-input.email(formControlName="email", (input)='emailChanged()', type="email" )
        .form-row([hidden]="myForm.value.id")
          ion-label(stacked) Password
          ion-input.password(formControlName="password", (input)='passwordChanged()', type="password" )
        .form-row
          ion-label(stacked) Twilio Number
          ion-select.phone_number_select.select-lg(formControlName="phoneNumber" #phone_number)
            ion-option(*ngFor="let phoneNumber of (phoneNumbers | async)", [value]="phoneNumber.phoneNumber", [selected]="phoneNumber.phoneNumber === 'myForm.value.phoneNumber'")
              | {{phoneNumber.phone_number}}
