nav-content
  nav-icons(right, currentPage="LeadPage")

ion-content(padding)
  div.header-row
    h2 All Contacts
    button.new-contact(ion-button, (click)="newLead()") New Contact

  ion-grid.table
    ion-row.header
      ion-col Name
      ion-col Email
      ion-col Phone number
      ion-col Created at
      ion-col Contact owner
      ion-col.action
        button(ion-button, small, (click)="loadPrevPage()", [disabled]="isPrevPageButtonDisabled | async")
          ion-icon(name="md-arrow-dropleft")
        button(ion-button, small, (click)="loadNextPage()", [disabled]="isNextPageButtonDisabled | async")
          ion-icon(name="md-arrow-dropright")
    ion-row.lead(*ngFor="let lead of (leads | async)", (click)="showLead(lead)")
      ion-col {{lead.name || "-"}}
      ion-col {{lead.email || "-"}}
      ion-col {{lead.phoneNumber || "-"}}
      ion-col {{lead.insertedAt | date:'MM/dd hh:mm a' || "-"}}
      ion-col {{lead.owner?.name || "-"}}
      ion-col.action
        div.dot
        div.dot
        div.dot
  ion-row.footer
    ion-col.center-y
      .showing-color Showing
      .showing-from {{showingLow}}
      .showing-color to
      .showing-to {{showingHigh}}
      .showing-color of
      .showing-total {{leadCount | async}} contacts
    ion-col(col-auto)
      button(ion-button, small, (click)="loadPrevPage()", [disabled]="isPrevPageButtonDisabled | async")
        ion-icon(name="ios-arrow-back-outline")
        span Prev
      button(ion-button, small, (click)="loadNextPage()", [disabled]="isNextPageButtonDisabled | async")
        span Next
        ion-icon(name="ios-arrow-forward-outline")
