nav-content
  nav-icons(right, currentPage="EmailTemplatesPage")

ion-content(padding)
  .templates-header
    h2 Email Templates
    button.new-template(ion-button, (click)="newTemplate()") New Template

  ion-grid.table
    ion-row.header
      ion-col Name
      ion-col Subject
      ion-col Default sender
      ion-col.action
    ion-row.template-row(*ngFor="let template of (templates | async)")
      ion-col((click)="show(template)") {{template.name}}
      ion-col((click)="show(template)") {{template.subject}}
      ion-col((click)="show(template)") {{template.sender}}
      ion-col.action((click)="showActions($event, template)")
        div.dot
        div.dot
        div.dot
